<div th:fragment="webHeader">
    <header class="navbar" id="navbar">
        <div class="container nav-container">
            <a th:href="@{/}" class="logo">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Arzum<span>İletişim</span>
            </a>
            <button class="mobile-menu-btn" id="mobile-menu-btn">
                <i class="fa-solid fa-bars"></i>
            </button>
            <nav class="nav-links" id="nav-links">
                <a href="#hero">Ana Sayfa</a>
                <a href="#services">Hizmetlerimiz</a>
                <a href="#accessories">Aksesuarlar</a>
                <a href="#why-us">Neden Biz?</a>
                <a href="#contact" class="btn btn-outline">İletişim</a>
            </nav>
        </div>
    </header>
</div>